.container {
  &.vertical {
    & .list {
      flex-direction: column;
      gap: 0.6667rem;
    }
  }

  &.horizontal {
    & .list {
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
  }
}

.list {
  display: flex;
}
