.item {
  list-style-type: none;
}

.link {
  & svg {
    fill: var(--gray-1000);
    transition: 0.2s;
  }

  &:hover {
    color: var(--yellow-500);

    & svg {
      fill: var(--yellow-500);
    }
  }
}
