@import '~/app/assets/styles/_typography.scss';

.container {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
}

.image {
  position: relative;
  width: 45%;

  & img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 55%;
}

.information {
}

.name {
  @include text-lg;
  @include text-semibold;
  color: var(--gray-800);
  margin-bottom: 0.25rem;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.price {
  @include text-lg;
  @include text-semibold;
  color: var(--yellow-500);
  white-space: nowrap;
}

.oldPrice {
  @include text-sm;
  @include text-semibold;
  text-decoration: line-through;
  color: var(--yellow-300);
  white-space: nowrap;
}

.actions {
  margin-top: 1rem;
  max-width: 220px;
}

.specification {
}

.subtitle {
  @include text-sm;
  color: var(--gray-600);
}

.text {
  @include text-sm;
  color: var(--gray-900);
}

@media screen and (max-width: 576px) {
  .container {
    flex-direction: column;
  }

  .image {
    align-self: center;
  }

  .content {
    width: 100%;
    max-width: 100%;
  }
}
